<div class="modal-header">
  <h4 class="modal-title">{{data.header}}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="addEditForm" (ngSubmit)="onSubmit(addEditForm)">
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Role Type Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="roleTypeName"
          minlength="2"
          maxlength="50"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['roleTypeName'].errors }"
          placeholder="Enter Role Type name"
        />
        @if(f['roleTypeName'].errors?.['required'] && f['roleTypeName'].touched){
          <mat-error>
            Please enter role type name.
          </mat-error>
          } @if((f['roleTypeName'].errors?.['minlength'] ||
          f['roleTypeName'].errors?.['maxlength']) && f['roleTypeName'].touched){
          <mat-error>
            Name length should be min 2 and max 50 character.
          </mat-error>
          }
      </mat-form-field>
    </div>
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <input
          type="text"
          matInput
          formControlName="description"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
          placeholder="Enter your Description"
        />
       
      </mat-form-field>
    </div>
    
    <div class="text-center mt-4">
      <button class="btn btn-secondary" type="reset" (click)="onReset()">
        Reset
      </button>
      <button type="submit" class="btn btn-primary marl-2">
        {{data.isAdd? 'Save': 'Update'}}
      </button>
    </div>
  </form>
</div>



<p-toast></p-toast>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="ball-beat" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
