<div class="row d-flex w-100">
  <div class="col-12 mb-30">
    <div class="card" style="margin-left: 35px; margin-right: 10px;">
      <div class="card-header text-bg-primary text-center">
        Registration Form
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Company</mat-label>
              <mat-select
                formControlName="company"
                [ngClass]="{ 'is-invalid': submitted && f['company'].errors }"
              >
                @for (item of companyMasterList; track item.id) {
                <mat-option [value]="item.id">{{item.name}}</mat-option>
                }
              </mat-select>
              @if(f['company'].errors?.['required'] && f['company'].touched){
              <mat-error>
                Please select a Company.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Region</mat-label>
              <mat-select
                formControlName="region"
                multiple
                [ngClass]="{ 'is-invalid': submitted && f['region'].errors }"
              >
                <mat-select-trigger>
                  {{f['region'].value?.[0] || ''}} @if
                  ((f['region'].value?.length || 0) > 1) {
                  <span class="example-additional-selection">
                    (+{{(f['region'].value?.length || 0) - 1}}
                    {{f['region'].value?.length === 2 ? 'other' : 'others'}})
                  </span>
                  }
                </mat-select-trigger>
                @for (item of regionList; track item.id) {
                <mat-option [value]="item.regionName"
                  >{{item.regionName}}</mat-option
                >
                }
              </mat-select>
              @if(f['region'].errors?.['required'] && f['region'].touched){
              <mat-error>
                Please select at-least one Region.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Role</mat-label>
              <mat-select
                formControlName="role"
                multiple
                [ngClass]="{ 'is-invalid': submitted && f['role'].errors }"
              >
                <mat-select-trigger>
                  {{f['role'].value?.[0] || ''}} @if ((f['role'].value?.length
                  || 0) > 1) {
                  <span class="example-additional-selection">
                    (+{{(f['role'].value?.length || 0) - 1}}
                    {{f['role'].value?.length === 2 ? 'other' : 'others'}})
                  </span>
                  }
                </mat-select-trigger>
                @for (item of roleMasterList; track item.id) {
                <mat-option [value]="item.roleName"
                  >{{item.roleName}}</mat-option
                >
                }
              </mat-select>
              @if(f['role'].errors?.['required'] && f['role'].touched){
              <mat-error>
                Please select at-least one Role.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email ID</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                placeholder="Enter the Email ID"
              />
              @if(f['email'].errors?.['required'] && f['email'].touched){
              <mat-error>
                Please enter the Email ID.
              </mat-error>
              }
              @if(f['email'].errors?.['email'] && f['email'].touched){
                <mat-error>
                  Please enter a valid Email ID.
                </mat-error>
                }
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                minlength="6"
                maxlength="20"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                placeholder="Enter the password"
              />
              @if(f['password'].errors?.['required'] && f['password'].touched){
              <mat-error>
                Please enter the Password.
              </mat-error>
              } @if((f['password'].errors?.['minlength'] ||
              f['password'].errors?.['maxlength']) && f['password'].touched){
              <mat-error>
                Password length should be min 6 and max 20 character.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>First Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="firstName"
                class="form-control"
                minlength="2"
                maxlength="50"
                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
                placeholder="Enter the First Name"
              />
              @if(f['firstName'].errors?.['required'] &&
              f['firstName'].touched){
              <mat-error>
                Please enter the First Name.
              </mat-error>
              } @if((f['firstName'].errors?.['minlength'] ||
              f['firstName'].errors?.['maxlength']) && f['firstName'].touched){
              <mat-error>
                First Name length should be min 2 and max 50 character.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="lastName"
                class="form-control"
                minlength="2"
                maxlength="50"
                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
                placeholder="Enter the Last Name"
              />
              @if(f['lastName'].errors?.['required'] && f['lastName'].touched){
              <mat-error>
                Please enter the Last Name.
              </mat-error>
              } @if((f['lastName'].errors?.['minlength'] ||
              f['lastName'].errors?.['maxlength']) && f['lastName'].touched){
              <mat-error>
                Last Name length should be min 2 and max 50 character.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Phone Number</mat-label>
              <input
                type="text"
                matInput
                formControlName="phNumber"
                maxlength="10"
                minlength="10"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 43"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['phNumber'].errors }"
                placeholder="Enter the Phone Number"
              />
              @if(f['phNumber'].errors?.['required'] && f['phNumber'].touched){
              <mat-error>
                Please enter the Phone Number.
              </mat-error>
              } @if(f['phNumber'].errors?.['minlength'] &&
              f['phNumber'].touched){
              <mat-error>
                Phone Number should be 10 character.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <!-- <div class="form-group mb-2">
            <label>Upload Agreement</label>
            <input
              type="file"
              formControlName="file"
              class="form-control"
              (change)="handleFileInput($event.target)"
            />
            @if(f['file'].errors?.['extensionFile'] && f['file'].touched){
            <div class="invalid-feedback">
              File doesn't have a valid format.
            </div>
            } @else if(f['file'].errors?.['invalidSize'] && f['file'].touched){
            <div class="invalid-feedback">
              File size should not exceed 2 mb.
            </div>
            }
          </div> -->
          <div class="text-center mt-4">
            <button class="btn btn-secondary" type="reset" (click)="onReset()">
              Reset
            </button>
            <button type="submit" class="btn btn-primary marl-2">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
    @if(isOpenPrev) {
    <div
      class="card col-6"
      style="margin-left: 10px; margin-right: 35px; width: 45%;"
    >
      <div class="card-body">
        <iframe
          [src]="urlSafe"
          title="fileUpload"
          width="100%"
          height="100%"
        ></iframe>
      </div>
    </div>
    }
  </div>
</div>

<p-toast></p-toast>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="ball-beat" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
