.mt-60 {
  margin-top: 60px;
}

.main-div {
  margin-left: 200px;
  margin-top: 80px;
  overflow: hidden;
}

.mt-80 {
  transition: all 0.3s;
  margin-top: 80px;
  overflow: hidden;
}

@media (max-width: 575px) {
  .main-div {
    margin-top: 80px;
    margin-left: 0px !important;
    z-index: 0;
    overflow: auto;
  }

  .mt-80 {
    transition: all 0.3s;
    margin-top: 80px;
    overflow: auto;
  }
}
