<div class="modal-header">
  <h4 class="modal-title">{{data.header}}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="addEditForm" (ngSubmit)="onSubmit(addEditForm)">
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Company Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="companyName"
          minlength="2"
          maxlength="50"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['companyName'].errors }"
          placeholder="Enter your company name"
        />
        @if(f['companyName'].errors?.['required'] && f['companyName'].touched){
        <mat-error>
          Please enter Company Name.
        </mat-error>
        } @if((f['companyName'].errors?.['minlength'] ||
        f['companyName'].errors?.['maxlength']) && f['companyName'].touched){
        <mat-error>
          Company Name length should be min 2 and max 50 character.
        </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Domain</mat-label>
        <input
          type="text"
          matInput
          formControlName="domain"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['domain'].errors }"
          placeholder="Enter your Domain starts with @"
        />
        @if(f['domain'].errors?.['required'] && f['domain'].touched){
        <mat-error>
          Please enter Domain.
        </mat-error>
        } @if(f['domain'].errors?.['pattern'] && f['domain'].touched){
        <mat-error>
          Please enter a valid Domain
        </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Address</mat-label>
        <input
          type="text"
          matInput
          formControlName="address"
          minlength="2"
          maxlength="50"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
          placeholder="Enter your Address"
        />
        @if(f['address'].errors?.['required'] && f['address'].touched){
        <mat-error>
          Please enter Address.
        </mat-error>
        } @if((f['address'].errors?.['minlength'] ||
        f['address'].errors?.['maxlength']) && f['address'].touched){
        <mat-error>
          Address length should be min 2 and max 50 character.
        </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone Number</mat-label>
        <input
          type="text"
          matInput
          formControlName="phNumber"
          maxlength="10"
          minlength="10"
          onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 43"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['phNumber'].errors }"
          placeholder="Enter your Phone Number"
        />
        @if(f['phNumber'].errors?.['required'] && f['phNumber'].touched){
        <mat-error>
          Please enter Phone Number.
        </mat-error>
        } @if(f['phNumber'].errors?.['minlength'] && f['phNumber'].touched){
        <mat-error>
          Phone Number should be 10 character.
        </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-secondary" type="reset" (click)="onReset()">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary marl-2">
        {{data.isAdd? 'Save': 'Update'}}
      </button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
