<div class="modal-header bg-color h-50">
  <h4 class="modal-title">{{data.header}}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="addEditForm" (ngSubmit)="onSubmit(addEditForm)">
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Role Type </mat-label>
        <mat-select placeholder="Role Type" formControlName="roleTypeId"
        class="form-control"  
        [ngClass]="{ 'is-invalid': submitted && f['roleTypeId'].errors }"
        placeholder="Select the Role Type"
        required>
         <mat-option *ngFor="let types of roletypeslist" [value]="types.id">
          {{types?.roleTypeName}}
        </mat-option> 
        </mat-select>      
        @if(f['roleTypeId'].errors?.['required'] && f['roleTypeId'].touched){
          <mat-error>
            Please Select the Role Type.
          </mat-error>
          } 
      </mat-form-field>
    </div>
    <div class="form-group mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Role Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="roleName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['roleName'].errors }"
          placeholder="Enter the Role Name"
        />
        @if(f['roleName'].errors?.['required'] && f['roleName'].touched){
          <mat-error>
            Please enter the Role Name.
          </mat-error>
          } @if((f['roleName'].errors?.['minlength'] ||
          f['roleName'].errors?.['maxlength']) && f['roleName'].touched){
          <mat-error>
            Name length should be min 2 and max 50 character.
          </mat-error>
          }
      </mat-form-field>
    </div>
    
    <div class="text-center mt-4">
      <button class="btn btn-secondary" type="reset" (click)="onReset()">
        Reset
      </button>
      <button type="submit" class="btn btn-primary marl-2">
        {{data.isAdd? 'Save': 'Update'}}
      </button>
    </div>
  </form>
</div>


<p-toast></p-toast>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="ball-beat" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
